<section *ngIf="hero">
  <div class="callout large">
    <div class="row column text-center">
      <h1>
        {{hero.name}}  
      </h1>
      
      <p class="lead">
        {{hero.lead}}
      </p>
      
      <a [href]="hero.url" target="_blank" class="button">
        {{hero.name}}
        Website
        <i class="fa fa-external-link"></i>
      </a>
    </div>
  </div>

  <div class="row content-group">

    <div class="show-for-small-only small-12 columns">
        <img src="/assets/images/{{hero.photoImage}}.jpg" 
            alt="Volunteer photo"
            class="thumbnail">
    </div>

    <div class="medium-6 columns">
      <h2>
        About
        {{hero.name}}
      </h2>

      <p>
        {{hero.description}}
      </p>
    </div>

    <div class="show-for-medium medium-6 large-offset-1 large-5 columns">
        <img src="/assets/images/{{hero.photoImage}}.jpg" 
            alt="Volunteer photo"
            class="thumbnail">
    </div>
  </div>

  <div id="bulletPointCards" class="row content-group" data-equalizer>
    <div *ngFor="let bulletPoint of hero.bulletPoints" class="medium-4 columns">
      <div class="callout border-top-info" data-equalizer-watch>
        <p>{{bulletPoint}}</p>
      </div>
    </div>
  </div>

  <div class="row content-group-lg">
    <div class="small-12 columns">
      <a class="button" [routerLink]="['/']">
        Browse opportunities
      </a>
    </div>
  </div>
</section>